<div class="leave-dashboard-container container-fluid">
  <app-header></app-header>
  <div class="leave-dashboard-header row m-2 mt-3">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <h3>Leave Dashboard</h3>
      <app-button
        type="button"
        label="Add Leave"
        className="btn text-btn leave-btn"
        [iconClass]="'bi bi-plus'"
        (btnClick)="createLeaveRequest()"
      ></app-button>
    </div>
  </div>
  <div
    class="leave-tabs-container d-flex justify-content-center align-items-center gap-3 p-4 mt-3"
  >
    <div class="col-2"></div>
    <div class="col-4 d-flex justify-content-center align-items-center">
      <canvas
        baseChart
        [type]="'pie'"
        [datasets]="pieChartDatasets"
        [labels]="pieChartLabels"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend"
      >
      </canvas>
    </div>
    <div
      class="col-4 d-flex flex-wrap justify-content-between align-items-center gap-3 p-4 mt-3"
    >
      <app-leave-status
        [count]="leavesCountResponse.approvedRequestsCount"
        label="Approved"
        iconClass="bi bi-check-circle"
        [isActive]="activeStatus === 'Approved'"
        (statusClicked)="onFilter('Approved', 2)"
      ></app-leave-status>

      <app-leave-status
        [count]="leavesCountResponse.pendingRequestsCount"
        label="Pending"
        iconClass="bi bi-hourglass-bottom"
        [isActive]="activeStatus === 'Pending'"
        (statusClicked)="onFilter('Pending', 1)"
      ></app-leave-status>

      <app-leave-status
        [count]="leavesCountResponse.declinedRequestCount"
        label="Declined"
        iconClass="bi bi-x-circle"
        [isActive]="activeStatus === 'Declined'"
        (statusClicked)="onFilter('Declined', 3)"
      ></app-leave-status>

      <app-leave-status
        [count]="leavesCountResponse.sickLeavesCount"
        label="Sick"
        iconClass="bi bi-heart-pulse"
        [isActive]="activeStatus === 'Sick Leaves'"
        (statusClicked)="onFilter('Sick Leaves', 8)"
      ></app-leave-status>
    </div>
    <div class="col-2"></div>
  </div>

  <div
    class="row justify-content-between align-items-center justify-content-center px-5 my-3 mt-3"
  >
    <div class="col-6">
      <h3>Leave Requests</h3>
    </div>
  </div>
  @if(responseData.length > 0){
  <div class="table-container row px-5">
    <div class="col-12">
      <table class="table table-striped table-hover border border-1">
        <thead>
          <tr class="table-light">
            <th scope="col">Leave Type</th>
            <th scope="col">Leave Duration</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Status</th>
            <th scope="col">Alternate Contact</th>
          </tr>
        </thead>
        <tbody>
          @for (item of responseData; track i; let i = $index){
          <tr class="border border-2">
            <td>{{ item.leaveType | capitalize }}</td>
            <td>{{ item.leaveDuration }}</td>
            <td>
              {{ item.startDate | dateFormat }}
            </td>
            <td>{{ item.endDate | dateFormat }}</td>
            <td>
              @if(item.approvalStatus == 1){
              <span class="pending-status p-1 px-3">{{
                item.approvalStatus | approvalStatus
              }}</span>
              } @if(item.approvalStatus == 2){
              <span class="approved-status p-1 px-3">{{
                item.approvalStatus | approvalStatus
              }}</span>
              } @if(item.approvalStatus == 3){
              <span class="declined-status p-1 px-3">{{
                item.approvalStatus | approvalStatus
              }}</span>
              }
            </td>
            @if(item.alternatePhoneNumber != ''){
            <td>
              <a
                [href]="
                  'tel:' + getFormattedPhoneNumber(item.alternatePhoneNumber)
                "
              >
                <button
                  class="btn btn-outline-secondary bg-white text-dark w-50"
                >
                  <i class="bi bi-telephone-outbound me-2"></i>
                  {{ item.alternatePhoneNumber }}
                </button></a
              >
            </td>
            }@else {
            <td></td>
            }
          </tr>
          }
        </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="collectionSize"
          [(page)]="page"
          [pageSize]="pageSize"
          (pageChange)="getLeaveRequestData()"
        >
        </ngb-pagination>

        <select
          class="form-select"
          style="width: auto"
          [(ngModel)]="pageSize"
          (ngModelChange)="getLeaveRequestData()"
        >
          <option [ngValue]="3">3 items per page</option>
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="8">8 items per page</option>
          <option [ngValue]="10">10 items per page</option>
        </select>
      </div>
    </div>
  </div>
  } @else {
  <h3 class="text-center no-records">No {{ activeStatus }} leaves found</h3>
  }
</div>
