h3 {
  font-weight: normal;
  word-spacing: 3px;
  letter-spacing: 1px;
}
.all-requests {
  width: 15.5%;
  border-radius: 10px;
  color: #6c4e87;
  border: 2px solid #6c4e87;
}
.leave-tabs-container {
  border-radius: 10px;
  background-color: #f8f9fa;
}
