<div class="classes-subjects-container container-fluid p-0">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="bg-light m-5 p-5">
    <div>
      <div class="heading mb-5">
        <div class="sub-header d-flex justify-content-between">
          <h3>Classes</h3>
          <app-button
          label="Back"
          className="back-btn w-100"
          type="button"
          iconClass="bi bi-arrow-left"
          (btnClick)="navigateBack()"
        />
        </div>
      </div>
    </div>
    <div
      class="class-boxes d-flex flex-wrap gap-4 align-items-center justify-content-center pb-4"
    >
      @for (item of responseData; track i; let i = $index){
      <div class="box px-3 py-2">
        <div class="d-flex align-items-center justify-content-between">
          <p class="sub-heading fs-4">{{ item.className }}</p>
          <div>
            <i class="bi bi-arrow-right-circle fs-4" (click)="editClass(item.classId, item.classTeacherName, item.classStrength, item.className)"></i>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          @if(item.classTeacherName !== ' '){
          <span
            >Class Teacher:
            <span class="result"> {{ item.classTeacherName }} </span></span
          >
          } @else {
          <span>Class Teacher: <span class="result"> Not Assigned </span></span>
          }
          <span
            >Strength:
            <span class="result"> {{ item.classStrength }} </span></span
          >
        </div>
      </div>
      }
    </div>
  </div>
</div>
