@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500&display=swap");

$bg: rgb(249, 249, 255);

* {
  font-family: "Work Sans", sans-serif;
}
.teacher-navbar {
  display: flex;
  align-items: center;
  background-color: $bg;
  height: 64px;
}
.teacher-logo img {
  height: 100px;
}
.profile-pic img {
  height: 35px;
}
.teacher-header {
  overflow: hidden;
}
.teacher-header {
  position: relative;
  overflow: visible;
  z-index: 1;
}
.header-dropdown {
  position: relative;
  z-index: 1000;
}
.ngb-dropdown-menu {
  z-index: 1050; /* Bootstrap's default dropdown z-index */
}
