.mat-dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dialog-action-btn {
  margin-inline: 10px;
}
.modal-header {
  background-color: #1ca9e1;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 0px;
}
