<div class="container-fluid p-0">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="user-request-info px-5 d-flex justify-content-center">
    <div class="card p-4 w-50">
      <div class="sub-header d-flex justify-content-between align-items-center">
        <h3 class="">Contact Request</h3>
        <app-button
        label="Back"
        className="back-btn w-100 mt-2"
        type="button"
        iconClass="bi bi-arrow-left"
        (btnClick)="navigateBack()"
      />
      </div>
      <div class="form-group mb-3">
        <label for="name" class="">Username</label>
        <input
          type="text"
          class="form-control bg-light"
          disabled
          value="{{ username }}"
        />
      </div>
      <div class="form-group mb-3">
        <label for="subject" class="">Subject</label>
        <input
          type="text"
          class="form-control bg-light"
          disabled
          value="{{ subject }}"
        />
      </div>
      <div class="form-group mb-3">
        <label for="type-of-request" class="">Request Type</label>
        <input
          type="text"
          class="form-control bg-light"
          disabled
          value="{{ requestType }}"
        />
      </div>
      <div class="form-group mb-2">
        <label for="description" class="">Description</label>
        <textarea name="address" class="form-control bg-light" disabled>{{
          description
        }}</textarea>
      </div>
      @if(requestDocuments.length > 0){
        <label for="documents" class="">Documents</label>
      }
      <div class="documents d-flex flex-wrap">
        @for (image of requestDocuments; track i; let i = $index){
        <div class="image-preview me-3 mb-3">
          <div class="image-card position-relative">
            <img [src]="image" alt="Uploaded Image" />
            <div
              class="download-icon download-btn position-absolute"
              (click)="downloadImage(image, i)"
            >
              <i class="bi bi-arrow-down-circle-fill"></i>
            </div>
          </div>
        </div>
        }
      </div>
      @if((responseMessage ?? '').length <= 0) {
      <div class="form-content">
        <label for="response">Response</label>
          <ckeditor
            [editor]="Editor"
            [config]="config"
            data="" 
            [(ngModel)]="ckEditorContent"
            class="w-100"
          ></ckeditor>
          <span class="text-danger"> {{ckEditorValidationMessage}} </span>
      </div>
      
        <div class="buttons mt-3">
          <div class=" d-flex gap-3 justify-content-center">
            <app-button
              type="button"
              label="Submit"
              className="btn text-btn"
              (btnClick)="onSubmit()"
            ></app-button>
            <app-button
              type="button"
              label="Cancel"
              className="btn blocked-btn"
              (btnClick)="onCancel()"
            ></app-button>
          </div>
        </div>
      }
      @else() {
        <label for="response">Response</label>
        <ckeditor
            [editor]="Editor"
            [config]="config"
            data="responseMessage"
            [(ngModel)]="responseMessage"
            class="w-100"
          ></ckeditor>
      }
    </div>
  </div>
</div>
