<div
  class="d-flex flex-column"
  [formGroup]="parentForm"
  appControlErrorContainer
>
  @if(label){
  <label class="label--style {{ labelClass }}">{{ label }}@if(label && required){
    <span class="text-danger">*</span>
    }</label>
  }
  <textarea
    appControlErrors
    [name]="name"
    [formControlName]="controlName"
    [cols]="column"
    [rows]="row"
    [required]="required"
    [errorTitle]="errorTitle"
    [class]="className"
    [placeholder]="placeholder"
    [value]="value"
    [attr.data-testid]="testId"
  ></textarea>
</div>
