.app-textarea {
  border-radius: 10px;
  color: #6c4e87;
  padding: 12px 0px 12px 15px;
  border: 1px solid #dee2e6;
  font-size: 13px;
  width: 100%;
  resize: none;
}
.app-textarea:focus {
  border: 2px solid #6c4e87 !important;
  outline: 0;
}
.label--style {
  font-size: 12px;
  margin-bottom: 0.5rem;
}
.title-description{
  width:95% !important;
}
