<div class="principal-dashboard-container container-fluid p-0">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="main-content p-5 mt-5">
    <div
      class="boxes d-flex flex-wrap gap-5 align-items-center justify-content-center"
    >
      <div
      (click)="navigate('manage-subjects')"
        class="box d-flex flex-column align-items-center border border-2 p-5"
      >
        <i class="bi bi-mortarboard-fill fs-3"></i>
        <span class="fs-4">Manage Subjects</span>
      </div>
      <div
        [routerLink]="['/principal-dashboard']"
        class="box d-flex flex-column align-items-center border border-2 p-5"
      >
        <i class="bi bi-person-vcard-fill fs-3"></i>
        <span class="fs-4">Student's Performance</span>
      </div>
      <div
        (click)="navigate('leave-requests')"
        class="box d-flex flex-column align-items-center border border-2 p-5"
      >
        <i class="bi bi-chat-square-text-fill fs-3"></i>
        <span class="fs-4">Leave Requests</span>
      </div>
      <div
        (click)="navigate('edit-class')"
        class="box d-flex flex-column align-items-center border border-2 p-5"
      >
        <i class="bi bi-person-workspace fs-3"></i>
        <span class="fs-4">Classes & Subjects</span>
      </div>
      <div
        [routerLink]="['/principal-dashboard']"
        class="box d-flex flex-column align-items-center border border-2 p-5"
      >
        <i class="bi bi-mic-fill fs-3"></i>
        <span class="fs-4">Schedule Meeting</span>
      </div>
      <div
        [routerLink]="['/principal-dashboard']"
        class="box d-flex flex-column align-items-center border border-2 p-5"
      >
        <i class="bi bi-bell-fill fs-3"></i>
        <span class="fs-4">Circulate Notice</span>
      </div>
      <div
        [routerLink]="['/principal-dashboard']"
        class="box d-flex flex-column align-items-center border border-2 p-5"
      >
        <i class="bi bi-file-earmark-break-fill fs-3"></i>
        <span class="fs-4">Create Report</span>
      </div>
      <div
        [routerLink]="['/principal-dashboard']"
        class="box d-flex flex-column align-items-center border border-2 p-5"
      >
        <i class="bi bi-file-earmark-ruled-fill fs-3"></i>
        <span class="fs-4">Assign Duties</span>
      </div>
      <div
        (click)="navigate('contact-requests')"
        class="box d-flex flex-column align-items-center border border-2 p-5"
      >
        <i class="bi bi-bell-fill fs-3"></i>
        <span class="fs-4">Contact Requests</span>
      </div>
    </div>
  </div>
</div>
