@import "bootstrap/scss/bootstrap";
@import "../node_modules//ngx-toastr//toastr.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500&display=swap");
@import 'ckeditor5/ckeditor5.css';

* {
  font-family: "Work Sans", sans-serif !important;
}

form.ng-submitted input.ng-invalid,
input.ng-touched.ng-invalid,
form.ng-submitted textarea.ng-invalid,
textarea.ng-touched.ng-invalid,
form.ng-submitted select.ng-invalid,
select.ng-touched.ng-invalid {
  border: 1px solid red;
}

.cdk-overlay-container {
  position: absolute !important;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ck-content{
  height: 150px !important;
}
