<div class="container-fluid p-0">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="content-container px-5 pt-3 d-flex justify-content-center">
    <div class="w-50">
      <div class="d-flex justify-content-between">
        <div>
          <h3>Contact Principal</h3>
        <span
          >Need any help? Do not hesitate to reach out. We care about you, about
          the country's fututre!</span
        >
        </div>
        <div>
          <app-button
          label="Back"
          className="back-btn w-100 mt-2"
          type="button"
          iconClass="bi bi-arrow-left"
          (btnClick)="navigateBack()"
        />
        </div>
      </div>      
      <div class="mt-3 form-container border border-2 p-3">
        <form
          [formGroup]="contactPrincipalForm"
          appFormSubmit
          class="px-3 pt-2 d-flex flex-column gap-3"
        >
          <app-input
            title="Subject"
            type="text"
            label="Subject"
            className="inputField py-3 fs-6 form-control apply-border"
            placeholder="Subject..."
            [parentForm]="contactPrincipalForm"
            controlName="subject"
            errorTitle="Subject"
            [required]="true"
          ></app-input>
          <app-select
            [options]="requestRoleOptions"
            controlName="typeOfRequest"
            [required]="true"
            [parentForm]="contactPrincipalForm"
            placeholder="Select a Type"
            className="py-2 form-control"
            label="Select Request Type"
            errorTitle="Request Type"
          />
          <app-textarea
            label="Description"
            controlName="description"
            [required]="true"
            [parentForm]="contactPrincipalForm"
            className="app-textarea form-control"
            errorTitle="Description"
            placeholder=""
          />
          <div class="avatar-container">
            <div
              class="drop-zone mt-3"
              (click)="photoInput.click()"
              (dragover)="onDragOver($event)"
              (drop)="onDrop($event)"
              (dragleave)="onDragLeave($event)"
              [class.dragging]="isDragging"
            >
            <div class="d-flex flex-column align-items-center">
              <i class="bi bi-cloud-arrow-up-fill fs-2"></i>
              <p>Drag & Drop or Click to Upload Evidence</p>
            </div>
              <input
                type="file"
                (change)="handlePictureFileChange($event)"
                #photoInput
                id="photoInput"
                accept="image/*"
                class="form-control d-none"
                multiple
              />
            </div>
            @if(showDocumentErrors){
              <span class="text-danger"> {{documentError}} </span>
            }
            <div class="preview-container">
              @for (image of uploadedImages; track i; let i = $index){
              <div
                class="image-preview"
              >
                <img [src]="image.url" alt="Uploaded Image" />
                <button type="button" (click)="removeImage(i)" class="remove-btn">
                  &times;
                </button>
              </div>}
            </div>
          </div>
          <div class="buttons d-flex justify-content-center gap-3 pe-4">
            <app-button
              label="Submit"
              title="Submit"
              (btnClick)="onSubmit()"
              type="submit"
              className="mt-3 px-3 text-btn"
            >
            </app-button>
            <app-button
              label="Cancel"
              title="cancel"
              (btnClick)="cancelForm()"
              type="button"
              className="mt-3 px-3 close-btn"
            >
            </app-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
