.submit-button {
  background-color: rgb(5, 18, 66) !important;
  opacity: 0.9;
  color: white;
}
.submit-btn:hover {
  background-color: #1795c7 !important;
}
.cancel-btn {
  background-color: #e3e3e3;
}
.cancel-btn:hover {
  background-color: #c2c2c2;
}
.button {
  border: none;
  padding: 7px 12px;
  border-radius: 5px;
}
.update-button {
  background-color: #1fa7e2;
  color: white;
  margin-right: 10px;
}
.cancel-button {
  background-color: #e8e8e8;
  color: black;
}
.back-button {
  background-color: #e8e8e8;
  border: none;
  padding: 6px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.submit-btn {
  background-color: #1ca9e1 !important;
  color: white;
}
.btn-primary-blue {
  background-color: #1aa9e6;
  color: #d3ffff;
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.btn-cancel-gray {
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #e8e8e8;
  color: #575757;
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #e8e8e8;
  color: #575757;
}

.back-button {
  background-color: #e8e8e8;
  border: none;
  border-radius: 5px;
  padding: 6px 15px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.modal-blue-btn {
  background-color: #1fa7e2;
  color: white;
  border: none;
  border-radius: 5px;
  border-radius: 5px;
  padding: 6px 15px;
}
.modal-close-btn {
  background-color: #e8e8e8;
  border: none;
  border-radius: 5px;
  border-radius: 5px;
  padding: 6px 15px;
}
.add-question-btn {
  border-radius: 50%;
}
.upload-button {
  background-color: #e4e4e4;
  height: 46px;
  border-radius: 0px 5px 5px 0px;
  width: 106px;
  white-space: nowrap;
}
