<div class="container-fluid">
  <div class="row auth-row">
    <div class="col-md-6">
      <div class="auth-left">
        <img
          class="school-logo"
          src="../../../assets/images/school-logo.png"
          alt=""
        />
      </div>
    </div>

    <div class="col-md-6">
      <div class="d-flex align-items-center justify-content-center auth-right">
        <div>
          <form
            action=""
            class="d-flex flex-column align-items-center justify-content-center"
            [formGroup]="resetPasswordForm"
            (submit)="onSubmit()"
            appFormSubmit
          >
            <h1 class="text-center mb-1 auth-heading">Reset Password</h1>

            <div class="d-flex flex-column">
              <app-input
                class="py-2 authInput reset-input"
                title="Password"
                type="password"
                className="inputField py-2 fs-6 form-control"
                placeholder="Password"
                [parentForm]="resetPasswordForm"
                controlName="password"
                errorTitle="Password"
              ></app-input>

              <app-input
                class="py-2 authInput reset-input"
                title="Confirm Password"
                type="password"
                className="inputField py-2 fs-6 form-control"
                placeholder="Confirm Password"
                [parentForm]="resetPasswordForm"
                controlName="confirmPassword"
                errorTitle="Confirm Password"
              ></app-input>

              <app-button
                type="submit"
                label="Reset Password"
                className="btn text-white my-3 px-4 text-btn w-100 fs-6"
                title="Submit"
              ></app-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
