.admit-request-container {
  height: 100vh;
  width: 100vw;
  background-color: #dcdddf;
}
.theme-img {
  height: 100%;
}
.theme-img img {
  height: 100%;
}
.form-container .personal-info {
  padding: 5%;
}
app-input,
ngx-intl-tel-input,
app-drop-down,
.input-group,
.gender-list {
  width: 22vw !important;
}
