<div
  class="admit-request-container g-0 d-flex justify-content-center overflow-hidden"
>
  <div class="col-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
    <div class="form-container">
      <form
        action=""
        class="d-flex"
        [formGroup]="admitRequestForm"
        (submit)="onSubmit()"
      >
        <div class="personal-info d-flex flex-column gap-3">
          <div class="names d-flex gap-3">
            <app-input
              [label]="'First Name'"
              title="First Name"
              type="name"
              className="input_field py-2 fs-6"
              placeholder="John"
              [parentForm]="admitRequestForm"
              controlName="firstName"
            ></app-input>
            <app-input
              [label]="'Last Name'"
              title="Last Name"
              type="name"
              className="input_field py-2 fs-6"
              placeholder="Donohue"
              [parentForm]="admitRequestForm"
              controlName="lastName"
            ></app-input>
          </div>
          <div class="contact-info d-flex gap-3">
            <div class="d-flex flex-column">
              <label for="phone">Phone Number</label>
              <ngx-intl-tel-input
                [cssClass]="'form-control phone-input py-2 '"
                [preferredCountries]="preferredCountries"
                [enableAutoCountrySelect]="true"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [searchCountryField]="[
                  SearchCountryField.Iso2,
                  SearchCountryField.Name
                ]"
                [selectFirstCountry]="false"
                [selectedCountryISO]="CountryISO.India"
                [maxLength]="15"
                [phoneValidation]="true"
                [separateDialCode]="separateDialCode"
                [numberFormat]="PhoneNumberFormat.National"
                name="phone"
                formControlName="phoneNumber"
              >
              </ngx-intl-tel-input>
            </div>
            <app-input
              [label]="'Email'"
              title="Email"
              type="email"
              className="py-2 fs-6"
              placeholder="john.donohue@gmail.com"
              [parentForm]="admitRequestForm"
              controlName="email"
              [validationMsg]="emailValidationMsg"
            ></app-input>
          </div>
          <div class="geographic-info">
            <div class="geographic-info">
              <app-textarea
                label="Address"
                controlName="address"
                [parentForm]="admitRequestForm"
                className="app-textarea fw-bold"
                (click)="openAddressModal()"
                [value]="combinedAddressValue"
                errorTitle="Address"
              />
            </div>
          </div>
          <div class="birth-info d-flex gap-3">
            <div class="dob">
              <label for="dob">Date of Birth</label>
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp"
                  ngbDatepicker
                  #d="ngbDatepicker"
                />
                <button
                  class="btn btn-secondary bi bi-calendar3"
                  (click)="d.toggle()"
                  type="button"
                ></button>
              </div>
            </div>
            <div class="gender-list">
              <app-drop-down
                [options]="genderOptions"
                controlName="gender"
                [parentForm]="admitRequestForm"
                placeholder="Select a Type"
                className="py-2"
                label="Gender"
                errorTitle="Gender"
              />
            </div>
          </div>
          <div class="org-info d-flex gap-3">
            <app-drop-down
              [options]="bloodGroupOptions"
              controlName="bloodGroup"
              [parentForm]="admitRequestForm"
              placeholder="Select a Type"
              className="py-2"
              label="Blood Group"
              errorTitle="Blood Group"
            />

            <app-drop-down
              [options]="requestRoleOptions"
              controlName="admitRequestRole"
              [parentForm]="admitRequestForm"
              placeholder="Select a Type"
              className="py-2"
              label="Request a Role"
              errorTitle="Request Role"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
  <div
    class="theme-img col-0 col-md-0 col-lg-6 col-xl-6 col-xxl-6 d-flex align-items-center"
  >
    <img class="img-fluid" src="assets/images/admit2.png" alt="" />
  </div>
</div>
