<div class="container-fluid">
  <div class="row auth-row">
    <div class="col-md-6">
      <div class="auth-left">
        <img
          class="school-logo"
          src="../../../assets/images/school-logo.png"
          alt=""
        />
      </div>
    </div>

    <div class="col-md-6">
      <div class="d-flex align-items-center justify-content-center auth-right">
        <div>
          <form
            action=""
            class="d-flex flex-column align-items-center justify-content-center"
            [formGroup]="forgetPasswordForm"
            (submit)="onSubmit()"
          >
            <h1 class="text-center mb-1 auth-heading mb-3">
              Reset Your Password
            </h1>
            <span>Please enter your email.</span>
            <span class="mb-4 send-link"
              >You will receive an OTP for verification.</span
            >
            <div class="d-flex flex-column">
              <app-input
                class="authInput mb-4 forget-input"
                title="Email"
                type="email"
                className="inputField py-2 fs-6 form-control"
                placeholder="Email Address"
                [parentForm]="forgetPasswordForm"
                controlName="email"
                errorTitle="Email"
              ></app-input>

              <app-button
                type="submit"
                label="Reset Password"
                className="btn px-4 text-btn w-100 fs-6"
                title="Submit"
              ></app-button>

              <p class="text-center mt-1">
                <a routerLink="/login" class="text-decoration-none" href=""
                  >Back To Login</a
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
