<div>
  <form
    action=""
    class="d-flex flex-column align-items-center justify-content-center"
    [formGroup]="forgetPasswordForm"
    (submit)="onSubmit()"
  >
    <h1 class="text-center mb-1 auth-heading mb-3">Reset Your Password</h1>
    <span>Please enter your email.</span>
    <span class="mb-4 send-link"
      >You will receive a link to create a new password.</span
    >
    <div class="d-flex flex-column">
      <app-input
        class="authInput mb-4 forget-input"
        title="Email"
        type="email"
        className="input_field py-2 fs-6"
        placeholder="Email Address"
        [parentForm]="forgetPasswordForm"
        controlName="email"
        [validationMsg]="emailValidationMsg"
        icon="bi bi-envelope"
      ></app-input>

      <app-button
        type="submit"
        label="Reset Password"
        className="btn text-white my-3 px-4 submit-button w-100 fs-6"
        title="Submit"
      ></app-button>

      <p class="text-center mt-1">
        <a routerLink="/login" class="text-decoration-none" href=""
          >Back To Login</a
        >
      </p>
    </div>
  </form>
</div>
