@media only screen and (max-width: 1300px) {
  .forget-input {
    width: 400px;
  }
}
@media only screen and (max-width: 1000px) {
  .forget-input {
    width: 350px;
  }
}
@media only screen and (max-width: 768px) {
  .forget-input {
    width: 450px;
  }
  .auth-heading {
    word-spacing: 5px;
  }
}
@media only screen and (max-width: 500px) {
  .forget-input {
    width: 350px;
  }
}
@media only screen and (max-width: 400px) {
  .forget-input {
    width: 300px;
  }
  .send-link {
    text-align: center;
  }
}
@media only screen and (min-width: 1300px) {
  .forget-input {
    width: 500px;
  }
}
