<div class="teacher-dashboard-container container-fluid">
  <app-header></app-header>
  <div class="admit-request-list-container p-5 pb-0 table-responsive">
    <h3 class="dashboard-heading">Admit Requests</h3>
    <input
      type="text"
      class="form-control mb-4 w-25 bg-light p-2"
      placeholder="Search..."
      (keyup)="search()"
    />
    <table class="table table-striped table-hover border border-1">
      <thead>
        <tr class="table-primary">
          <th scope="col">Serial</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Class</th>
          <th scope="col">Requested Role</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (item of requestData; track i; let i = $index){
        <tr class="border border-2">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.className }}</td>
          <td>{{ item.requestedRole }}</td>
          <td>
            <div ngbDropdown class="d-inline-block">
              <span
                type="button"
                class="btn btn-outline-secondary bg-light text-dark"
                id="dropdownBasic1"
                ngbDropdownToggle
              >
                Actions
              </span>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Approve Request</button>
                <button ngbDropdownItem>Decline Request</button>
                <button ngbDropdownItem>Block Request</button>
              </div>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="refreshDataSource()"
      >
      </ngb-pagination>

      <select
        class="form-select"
        style="width: auto"
        [(ngModel)]="pageSize"
        (ngModelChange)="refreshDataSource()"
      >
        <option [ngValue]="3">3 items per page</option>
        <option [ngValue]="5">5 items per page</option>
        <option [ngValue]="8">8 items per page</option>
        <option [ngValue]="10">10 items per page</option>
      </select>
    </div>
  </div>
</div>
