<div class="teacher-dashboard-container container-fluid">
  <app-header></app-header>
  <div class="admit-request-list-container p-5 pb-0 table-responsive">
    <h3 class="dashboard-heading">Admit Requests</h3>
    <div class="d-flex gap-4">
      <input
        type="text"
        class="form-control mb-4 w-25 bg-light p-2"
        placeholder="Search..."
        #searchInput
        (keyup)="onKeyup(searchInput.value)"
      />
      <div ngbDropdown class="d-inline-block">
        <span
          type="button"
          class="btn border border-1 py-2 bg-light text-dark"
          id="sortDropdown"
          ngbDropdownToggle
        >
          Filter
        </span>
        <div ngbDropdownMenu aria-labelledby="sortDropdown">
          <button ngbDropdownItem (click)="onFilter(1)">Pending</button>
          <button ngbDropdownItem (click)="onFilter(2)">Approved</button>
          <button ngbDropdownItem (click)="onFilter(3)">Declined</button>
          <button ngbDropdownItem (click)="onFilter(5)">Blocked</button>
        </div>
      </div>
    </div>

    <table class="table table-striped table-hover border border-1">
      <thead>
        <tr class="table-primary">
          <th scope="col" (click)="onSort('FirstName')">
            Name
            <i
              class="bi"
              [ngClass]="{
                'bi-arrow-up':
                  sortColumn === 'FirstName' && sortOrder === 'ascending',
                'bi-arrow-down':
                  sortColumn === 'FirstName' && sortOrder === 'descending'
              }"
            ></i>
          </th>
          <th scope="col" (click)="onSort('email')">
            Email
            <i
              class="bi"
              [ngClass]="{
                'bi-arrow-up':
                  sortColumn === 'email' && sortOrder === 'ascending',
                'bi-arrow-down':
                  sortColumn === 'email' && sortOrder === 'descending'
              }"
            ></i>
          </th>
          <th scope="col">Phone Number</th>
          <th scope="col">Class</th>
          <th scope="col">Requested Role</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (item of responseData; track i; let i = $index){
        <tr class="border border-2">
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
          <td>
            <a [href]="'tel:' + getFormattedPhoneNumber(item.phoneNumber)">
              <button class="btn btn-outline-secondary bg-light text-dark w-75">
                {{ item.phoneNumber }}
              </button></a
            >
          </td>
          <td>{{ item.className }}</td>
          <td>{{ item.requestedRole }}</td>
          <td>
            <div ngbDropdown class="d-inline-block">
              <span
                type="button"
                class="btn btn-outline-secondary bg-light text-dark"
                id="dropdownBasic1"
                ngbDropdownToggle
              >
                Actions
              </span>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Approve Request</button>
                <button ngbDropdownItem>Decline Request</button>
                <button ngbDropdownItem>Block Request</button>
              </div>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="getAdmitRequestData()"
      >
      </ngb-pagination>

      <select
        class="form-select"
        style="width: auto"
        [(ngModel)]="pageSize"
        (ngModelChange)="getAdmitRequestData()"
      >
        <option [ngValue]="3">3 items per page</option>
        <option [ngValue]="5">5 items per page</option>
        <option [ngValue]="8">8 items per page</option>
        <option [ngValue]="10">10 items per page</option>
      </select>
    </div>
  </div>
</div>
