$heading: rgb(0, 10, 45);
$para: #777;
$helper-tint: #f3f4ff;
$bg: rgb(249, 249, 255);
$purple: #6c4e87;
$pending: #b2651b;
$approved: #003663;
$declined: #dd7176;
$blocked: #777878;

.teacher-dashboard-container {
  background-color: $helper-tint;
  height: 100vh;
}
.teacher-navbar {
  display: flex;
  align-items: center;
  background-color: $bg;
  height: 60px;
}
.teacher-logo img {
  height: 100px;
}
.profile-pic img {
  height: 35px;
}
.dashboard-heading {
  color: $heading;
}
thead tr th {
  font-size: 1.2rem;
  font-weight: 500;
}
tr td img {
  height: 20px;
}
.bi {
  cursor: pointer;
}
button i {
  color: $purple;
}
h3 {
  font-weight: normal;
  word-spacing: 3px;
  letter-spacing: 1px;
  color: $purple;
}
.pending-status {
  font-weight: 500;
  color: $pending;
}
.approved-status {
  font-weight: 500;
  color: $approved;
}
.declined-status {
  font-weight: 500;
  color: $declined;
}
.blocked-status{
  font-weight: 500;
  color: $blocked;
}