<div>
  <form
    action=""
    class="d-flex flex-column align-items-center justify-content-center"
    [formGroup]="resetPasswordForm"
    (submit)="onSubmit()"
  >
    <h1 class="text-center mb-1 auth-heading">Reset Password</h1>

    <div class="d-flex flex-column">
      <app-input
        class="py-2 authInput reset-input"
        title="Password"
        type="password"
        className="input_field py-2 fs-6"
        placeholder="Password"
        [parentForm]="resetPasswordForm"
        controlName="password"
        [validationMsg]="passwordValidationMsg"
      ></app-input>

      <app-input
        class="py-2 authInput reset-input"
        title="Confirm Password"
        type="{{ showPassword ? 'text' : 'password' }}"
        className="auth-field py-2 fs-6"
        placeholder="Confirm Password"
        [parentForm]="resetPasswordForm"
        controlName="confirmPassword"
        [validationMsg]="passwordValidationMsg"
        (iconClick)="togglePasswordVisibility()"
        [icon]="showPassword ? 'bi-eye-fill' : 'bi-eye-slash-fill'"
      ></app-input>

      <app-button
        type="submit"
        label="Reset Password"
        className="btn text-white my-3 px-4 submit-button w-100 fs-6"
        title="Submit"
      ></app-button>
    </div>
  </form>
</div>
