* {
  background-color: #eaecee;
}
.auth-left {
  margin-top: 130px;
  margin-left: 12vw;
}
.school-logo {
  height: 70vh;
  width: 45vw;
}
.auth-row,
.auth-right {
  height: 100vh;
}
@media only screen and (max-width: 1300px) {
  .auth-left {
    margin-left: 7vw;
  }
}
@media only screen and (max-width: 1000px) {
  .auth-left {
    margin-left: 3vw;
    margin-top: 180px;
  }
  .school-logo {
    height: 55vh;
  }
}
@media only screen and (max-width: 768px) {
  .auth-left {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  .school-logo {
    height: 40vh;
  }
  :not(.admit-request-route) {
    .auth-right {
      height: 50vh;
    }
  }
}
@media only screen and (max-width: 500px) {
  .school-logo {
    width: 70vw;
  }
}

@media only screen and (max-width: 1300px) {
  .login-input {
    width: 400px;
  }
}
@media only screen and (max-width: 1000px) {
  .login-input {
    width: 350px;
  }
}
@media only screen and (max-width: 768px) {
  .login-input {
    width: 450px;
  }
  .auth-heading {
    word-spacing: 5px;
  }
}
@media only screen and (max-width: 500px) {
  .login-input {
    width: 350px;
  }
}
@media only screen and (max-width: 400px) {
  .login-input {
    width: 300px;
  }
}
@media only screen and (min-width: 1300px) {
  .login-input {
    width: 500px;
  }
}
@media only screen and (min-width: 1000px) {
  .school-logo {
    height: 65vh;
    width: 35vw;
  }
}
