<div class="container-fluid">
  <div class="row auth-row">
    <div class="col-md-6">
      <div class="auth-left">
        <img
          class="school-logo"
          src="../../../assets/images/school-logo.png"
          alt=""
        />
      </div>
    </div>

    <div class="col-md-6">
      <div class="d-flex align-items-center justify-content-center auth-right">
        <div>
          <form
            action=""
            class="d-flex flex-column align-items-center justify-content-center"
            [formGroup]="loginForm"
            (submit)="onSubmit()"
            appFormSubmit
          >
            <h1 class="text-center mb-1 auth-heading">Login To Your Account</h1>
            <p class="text-center mb-5">
              Don't have an Account?
              <a
                class="text-decoration-none"
                href="#"
                routerLink="/admit-request"
                >Send Admit Request</a
              >
            </p>
            <div class="d-flex flex-column">
              <app-input
                class="mb-4 login-input"
                title="Email"
                type="email"
                className="inputField py-2 fs-6"
                placeholder="Email Address"
                [parentForm]="loginForm"
                controlName="email"
                errorTitle="Email"
              ></app-input>

              <app-input
                class="login-input"
                title="Password"
                type="{{ showPassword ? 'text' : 'password' }}"
                className="inputField py-2 fs-6"
                placeholder="Password"
                [parentForm]="loginForm"
                controlName="password"
                errorTitle="Password"
              ></app-input>

              <p class="text-end mt-1">
                <a
                  routerLink="/forget-password"
                  class="text-decoration-none"
                  href=""
                  >Forgot Password?</a
                >
              </p>

              <app-button
                type="submit"
                label="Login"
                className="btn my-3 px-4 text-btn w-100 fs-6"
                title="Submit"
              ></app-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
