<div>
  <form
    action=""
    class="d-flex flex-column align-items-center justify-content-center"
    [formGroup]="verifyOtpForm"
    (submit)="onSubmit()"
  >
    <h1 class="text-center mb-1 auth-heading">Hello Jenil Vora,</h1>
    <p class="text-center mb-5">Check your Email id for the OTP</p>
    <div class="d-flex flex-column">
      <app-input
        class="authInput mb-4"
        title="OTP"
        type="text"
        className="input_field py-2 fs-6"
        placeholder="Please enter your OTP here"
        [parentForm]="verifyOtpForm"
        controlName="otp"
        icon="bi bi-shield-check"
      ></app-input>

      <app-button
        type="submit"
        label="Verify OTP"
        className="btn text-white my-3 px-4 submit-button w-100 fs-6"
        title="Submit"
      ></app-button>

      <p class="text-center">
        Haven't received yet?
        <a routerLink="/forget-password" class="text-decoration-none" href=""
          >Resend OTP</a
        >
      </p>
    </div>
  </form>
</div>
