<div class="input--field" [formGroup]="parentForm">
  <label *ngIf="label" class="ms-1 label--style">{{ label }}</label>
  <div class="input-container">
    <input
      class="form-control"
      #input
      [type]="type"
      [formControl]="formControl"
      [formControlName]="controlName"
      [placeholder]="placeholder"
      [value]="value"
      [required]="required"
      [pattern]="pattern"
      [readonly]="readonly"
      [ngClass]="ngClass"
      [ngClass]="
        parentForm.get(controlName)?.invalid &&
        parentForm.get(controlName)?.touched &&
        showValidationMessage
          ? 'red-border'
          : ''
      "
      [maxlength]="maxlength"
      [minlength]="minlength"
      [name]="name"
      [ngStyle]="styles"
      [class]="className"
      (keyup)="onKeyUp(input.value)"
      (input)="onInput(input.value)"
    />
    <span *ngIf="icon" class="input-icon" (click)="onIconClick()">
      <i class="bi {{ icon }}"></i>
    </span>
  </div>
</div>

<div
  *ngIf="
    parentForm.get(controlName)?.invalid &&
    parentForm.get(controlName)?.touched &&
    showValidationMessage
  "
  class="text-danger"
>
  <div *ngIf="parentForm.get(controlName)?.hasError('required')">
    {{ title }} is required.
  </div>

  <div
    *ngIf="
      parentForm.get(controlName)?.hasError('pattern') && validationMsg != null
    "
  >
    {{ validationMsg }}.
  </div>
  <div
    *ngIf="
      parentForm.get(controlName)?.hasError('pattern') && validationMsg == null
    "
  >
    {{ title }} must follow a valid pattern.
  </div>

  <div *ngIf="parentForm.get(controlName)?.hasError('minlength')">
    {{ title }} must be at least
    {{ parentForm.get(controlName)?.errors?.['minlength']?.requiredLength }}
    characters.
  </div>

  <div *ngIf="parentForm.get(controlName)?.hasError('maxlength')">
    {{ title }} must be less than
    {{ parentForm.get(controlName)?.errors?.['maxlength']?.requiredLength }}
    characters.
  </div>

  <div *ngIf="parentForm.get(controlName)?.hasError('min')">
    {{ title }} must be at least {{ title }} must be at least
    {{ parentForm.get(controlName)?.errors?.['min']?.min }}
  </div>

  <div *ngIf="parentForm.get(controlName)?.hasError('max')">
    {{ title }} must be less than
    {{ parentForm.get(controlName)?.errors?.['max']?.max }}
  </div>
  <div
    *ngIf="
      parentForm.get(controlName)?.hasError('passwordMismatch') &&
      parentForm.get(controlName)?.dirty
    "
  >
    Confirm Password does not match.
  </div>
  <div
    *ngIf="formControl.hasError('invalidEmail') && !parentForm.get(controlName)?.errors?.['required'] && !parentForm.get(controlName)?.errors?.['pattern']"
  >
    Invalid email address.
  </div>
  <div
    *ngIf="formControl.hasError('invalidName') && !parentForm.get(controlName)?.errors?.['required'] && !parentForm.get(controlName)?.errors?.['pattern']"
  >
    {{ title }} should only contain alphabets, no space allowed.
  </div>
  <div
    *ngIf="
      formControl.hasError('invalidMinDate') &&
      !formControl.hasError('required')
    "
  >
    Invalid {{ title }}.
  </div>
  <div
    *ngIf="
      formControl.hasError('invalidMaxDate') &&
      !formControl.hasError('required')
    "
  >
    {{ title }} should be less than today's date.
  </div>
</div>
