<div class="edit-class-container container-fluid p-0">
  <div class="header mb-5">
    <app-header></app-header>
  </div>
  <div class="row m-0 p-5 bg-light">
    <div
      class="col-6 form-container d-flex align-items-center justify-content-center"
    >
      <div class="heading">
        <h3>Name: Class-3</h3>
      </div>
    </div>
    <div class="col-6 image d-flex align-items-center justify-content-start">
      <div class="heading">
        <h3>Edit Subject Information</h3>
      </div>
    </div>
  </div>
</div>
